.whoami-section {
  gap: 96px;
}
.whoami-text {
  max-width: 1200px;
  gap: 24px;
  text-align: center;
  h3 {
    color: var(--color-secondary);
    font-size: var(--font-size-h3);
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
  }
}