:root {
  --color-primary: #5260FF;
  --color-secondary: #939BF6;
  --color-tag: #B4ECD1;
  --color-tag-text: #165537;
  --color-background: #23272A;
  --color-grey-primary: #2A2E31;
  --color-grey-secondary: #393C3F;
  --color-light: #F9FAFA;
}