:root {
  --space-none: 0px;
  --space-3xs: 2px;
  --space-2xs: 4px;
  --space-xs: 6px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 28px;
  --space-4xl: 32px;
  --space-5xl: 36px;
  --space-6xl: 40px;
  --space-7xl: 44px;
  --space-8xl: 48px;
  --space-9xl: 56px;
  --space-10xl: 64px;
  --space-11xl: 72px;
  --space-12xl: 80px;
  --space-13xl: 96px;
  --space-full: 128px;
  --space-sectionSmallMaxWidth: 1200px;
}