@use "sass:math";


// swiper js styles
@import 'swiper/scss', 'swiper/scss/navigation', 'swiper/scss/pagination';


// utils
@import '_0_utils/0.1_reset';
@import '_0_utils/0.2_scrollbar';


// parameters
@import '_1_parameters/_1.1_breakpoints/variables.scss';
@import '_1_parameters/_1.1_breakpoints/functions.scss';
@import '_1_parameters/_1.2_sizes/functions.scss';
@import '_1_parameters/_1.3_fonts/variables.scss';
@import '_1_parameters/_1.4_colors/variables.scss';
@import '_1_parameters/_1.5_layouts/variables.scss';


// components
@import '_2_components/socials_container.scss';


// sections
@import '_3_sections/footer';
@import '_3_sections/header';
@import '_3_sections/project';
@import '_3_sections/skills';
@import '_3_sections/whoami';


// pages


// à retirer
@import 'layout/grid';





// Laptop responsive
@media only screen and (max-width: 1440px){
  body {
    gap: 96px;
  }
  .cards-container {
    max-width: 700px;
  }
  .sort-buttons {
    gap: 12px;
    .sort-button {
      padding: 6px 12px;
    }
  }
  .cards {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 24px 24px; 
    .card {
      .card-content {
        gap: 20px;
        .skill .skill-content {
          img {
            width: 14px;
          }
        }
      }
      .card-links-container {
        .project-button {
          padding: 8px;
          img {
            width: 16px;
          }
        }
        .more-button {
          padding: 8px 12px;
        }
      }
    }
  }
  .skills-container {
    max-width: 700px;
    .skills-title {
      font-size: 1.125rem;
    }
  }
}
// Laptop responsive END

// Tablet responsive
@media only screen and (max-width: 768px){
  body, main {
    gap: 48px;
  }
  .projects-section {
    margin: 0 32px;
    .cards-container {
      max-width: 100%;
      align-items: center;
      .sort-buttons {
        gap: 8px;
        .sort-button {
          padding: 4px 10px;
        }
      }
      .cards {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        gap: 24px 24px;
        .card {
          max-width: 370px;
          .card-image {
            max-height: 200px;
            min-height: 200px;
          }
          .category-tag {
            padding: 3px 10px;
            top: 177px;
          }
          .card-content {
            gap: 16px;
            padding: 24px 16px 16px 22px;
            .card-buttons-container {
              gap: 12px;
            }
            .card-skills-container .skill {
              padding: 6px 8px;
            }
          }
        }
      }
    }
  }
  .skills-container {
    .skills-title {
      font-size: 1rem;
    }
    .skills-cards {
      gap: 16px;
      .skill-card {
        .skill-content {
          gap: 12px;
          li {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
}





// Tablet responsive END
.dashboard-template {
  display: flex;
  gap: 0;
  .admin-navigation {
    max-width: 300px;
    width: 100%;
    background-color: red;
  }
  
  .admin-home {
    width: 100%;
    background-color: blue;
  }
}