@use "sass:math";


// swiper js styles
@import 'swiper/scss', 'swiper/scss/navigation', 'swiper/scss/pagination';


// utils
@import '_0_utils/0.1_reset';
@import '_0_utils/0.2_scrollbar';


// parameters
@import '_1_parameters/_1.1_breakpoints/variables.scss';
@import '_1_parameters/_1.1_breakpoints/functions.scss';
@import '_1_parameters/_1.2_sizes/functions.scss';
@import '_1_parameters/_1.3_fonts/variables.scss';
@import '_1_parameters/_1.4_colors/variables.scss';
@import '_1_parameters/_1.5_layouts/variables.scss';


// components
@import '_2_components/post_cards.scss';
@import '_2_components/socials_container.scss';


// sections
@import '_3_sections/footer';
@import '_3_sections/header';
@import '_3_sections/project';
@import '_3_sections/skills';
@import '_3_sections/whoami';


// pages


// à retirer
@import 'layout/grid';





// Laptop responsive
@media only screen and (max-width: 1440px){
  body {
    gap: 96px;
  }
}
// Laptop responsive END

// Tablet responsive
@media only screen and (max-width: 768px){
  body, main {
    gap: 48px;
  }
}





// Tablet responsive END
.dashboard-template {
  display: flex;
  gap: 0;
  .admin-navigation {
    max-width: 300px;
    width: 100%;
    background-color: red;
  }
  
  .admin-home {
    width: 100%;
    background-color: blue;
  }
}