header {

  // *------------*
  //   Navigation
  // *------------*
  
  .navbar {
    display: flex;
    justify-content: center;
    z-index: 9999;
    @include max-width(tablet) {
      justify-content: flex-end;
      width: 100%;
      position: fixed;
      top: 0;
      background: rgba(42, 46, 49, 0.41);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
    }
    .nav-items {
      display: flex;
      padding: var(--space-4xl) 0;
      gap: var(--space-4xl);
      @include max-width(tablet) {
        padding: var(--space-md);
      }
      a {
        font-weight: 600;
        @include max-width(laptop) {
          font-size: 0.625rem;
        }
      }
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      p:after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: var(--color-light);
        transition: 0.3s all ease-in-out;
        opacity: 0.8;
        border-radius: 10px;
      }
      a:hover {
        p:after {
          width: 100%;
        }
      }
      .nav-item {
        @include max-width(tablet) {
          display: none;
        }
      }
      .sidenav {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 1000;
        opacity: 0.9;
        top: 0;
        padding-top: 120px;
        transition: right 0.5s ease;
        background: rgba(42, 46, 49, 0.41);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 1.5rem;
          color: var(--color-light);
          display: block;
          transition: 0.3s;
          margin-bottom: 16px;
        }
        &.active {
          right: 0;
        }
        &:not(.active) {
          right: -100%;
        }
        .close {
          position: absolute;
          top: -8px;
          right: 6px;
          font-size: 36px;
        }
        .burger-nav-items {
          display: flex;
          flex-direction: column;
          .burger-nav-item {
            @include max-width(tablet) {
              font-size: 0.875rem; 
            }
          }
        }
      }
      .burger-icon {
        display: none;
        height: 24px;
        @include max-width(tablet) {
          display: unset;
        }
      }
    }
  }
  
  // *---------*
  //   Banner
  // *---------*

  .header-content {
    padding: var(--space-13xl) 0px;
    display: flex;
    justify-content: center;
    @include max-width(tablet) {
      padding: var(--space-8xl) 0;
      margin-top: 58px;
    }
    .container {
      display: flex;
      align-items: center;
      max-width: var(--space-sectionSmallMaxWidth);
      gap: var(--space-13xl);
      @include max-width(laptop) {
        flex-direction: column-reverse;
        max-width: 700px;
      }
      @include max-width(tablet) {
        max-width: 100%;
        width: 100%;
      }
      .left-content {
        display: flex;
        flex-direction: column;
        gap: 80px;
        @include max-width(laptop) {
          align-items: center;
          text-align: center;
        }
        @include max-width(tablet) {
          gap: 40px;
        }
        .header-text {
          display: flex;
          flex-direction: column;
          gap: 15px;
          p {
            font-weight: 300;
            line-height: 28px;
            opacity: 0.5;
            @include max-width(laptop) {
              line-height: 16px;
            }
            @include max-width(tablet) {
              padding: 0 16px;
            }
          }
          .title-container {
            h2 {
              color: var(--color-secondary);
              font-weight: 600;
              @include max-width(tablet) {
                font-size: 1.125rem;
              }
            }
            h1 {
              font-weight: 600;
              @include max-width(laptop) {
                font-size: 2.125rem;
              }
              @include max-width(tablet) {
                font-size: 1.625rem;
              }
            }
          }
        }
        .header-buttons {
          display: flex;
          align-items: center;
          gap: 40px;
          @include max-width(tablet) {
            gap: 30px;
          }
        }
      }
      .right-content {
        position: relative;
        .header-logo {
          width: 400px;
          height: 400px;
          border-radius: 400px;
          box-shadow: 0px 27px 75px 29px rgba(82, 96, 255, 0.22);
          user-select: none;
          @include max-width(laptop) {
            width: 350px;
            height: 350px;
          }
          @include max-width(tablet) {
            width: 250px;
            height: 250px;
            box-shadow: 0px 17px 25px 19px rgba(82, 96, 255, 0.10);
          }
        }
        .logo-figma {
          bottom: 39px;
          left: -10px;
          width: 85px;
          height: 85px;
          animation: floatFigma 2s ease-in-out infinite alternate;
          @include max-width(laptop) {
            width: 60px;
            height: 60px;
          }
          @include max-width(tablet) {
            animation: floatFigma 2.5s ease-in-out infinite alternate;
            width: 40px;
            height: 40px;
          }
          .figma-icon {
            width: 30px;
            height: 45px;
            @include max-width(laptop) {
              width: 20px;
              height: 35px;
            }
            @include max-width(tablet) {
              width: 15px;
              height: 30px;
            }
          }
        }
        .logo-tailwind {
          bottom: 51px;
          right: 5px;
          width: 85px;
          height: 85px;
          animation: floatTailwind 3s ease-in-out infinite alternate;
          @include max-width(laptop) {
            width: 60px;
            height: 60px;
          }
          @include max-width(tablet) {
            animation: floatTailwind 3.5s ease-in-out infinite alternate;
            width: 40px;
            height: 40px;
          }
          .tailwind-icon {
            width: 51px;
            height: 30px;
            @include max-width(laptop) {
              width: 39px;
              height: 20px;
            }
            @include max-width(tablet) {
              width: 34px;
              height: 15px;
            }
          }
        }
        .logo-sass {
          top: -34px;
          right: 82px;
          width: 85px;
          height: 85px;
          animation: floatSass 2.5s ease-in-out infinite alternate;
          @include max-width(laptop) {
            width: 60px;
            height: 60px;
          }
          @include max-width(tablet) {
            animation: floatSass 3s ease-in-out infinite alternate;
            width: 40px;
            height: 40px;
          }
          .sass-icon {
            width: 54px;
            height: 40px;
            @include max-width(laptop) {
              width: 44px;
              height: 30px;
            }
            @include max-width(tablet) {
              width: 34px;
              height: 20px;
            }
          }
        }
        .logo-vscode {
          width: 49px;
          height: 49px;
          bottom: 11px;
          right: -25px;
          animation: floatVscode 3s ease-in-out infinite alternate;
          @include max-width(laptop) {
            width: 29px;
            height: 29px;
            bottom: 26px;
            right: -10px;
          }
          @include max-width(tablet) {
            animation: floatVscode 3.5s ease-in-out infinite alternate;
            width: 19px;
            height: 19px;
            bottom: 33px;
            right: -3px;
          }
          .vscode-icon {
            width: 24px;
            height: 24px;
            @include max-width(laptop) {
              width: 14px;
              height: 14px;
            }
            @include max-width(tablet) {
              width: 9px;
              height: 9px;
            }
          }
        }
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #FFF;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          border-radius: 56px;
          position: absolute;
          user-select: none;
        }
      }
    }
  }
}

// *---------------*
// *   animations  *
// *---------------*

@keyframes floatFigma {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-5px, 5px);
    @include max-width(tablet) {
      transform: translate(-4px, 4px);
    }
  }
}
@keyframes floatTailwind {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, 5px);
    @include max-width(tablet) {
      transform: translate(4px, 4px);
    }
  }
}
@keyframes floatSass {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, -5px);
    @include max-width(tablet) {
      transform: translate(4px, -4px);
    }
  }
}
@keyframes floatVscode {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, 12px);
    @include max-width(tablet) {
      transform: translate(3px, 9px);
    }
  }
}