.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include max-width(laptop) {
    margin: 0 32px;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    max-width: var(--space-sectionSmallMaxWidth);
    width: 100%;
    gap: 32px;
    align-items: start;
    @include max-width(desktop) {
      max-width: 700px;
    }
    @include max-width(laptop) {
      max-width: 100%;
      align-items: center;
    }
    .swiper {
      padding-bottom: 40px;
    }
    .swiper-pagination {
      bottom: 0;
    }
    .sort-buttons {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      gap: 19px;
      @include max-width(desktop) {
        gap: 12px;
      }
      @include max-width(laptop) {
        gap: 8px;
      }
      .sort-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 14px;
        cursor: pointer;
        border-radius: 40px;
        background-color: var(--color-grey-primary);
        user-select: none;
        transition: all 0.3s ease-in-out;
        @include max-width(desktop) {
          padding: 6px 12px;
        }
        @include max-width(laptop) {
          padding: 4px 10px;
        }
        p {
          font-weight: 600;
        }
      }
      .active {
        background-color: var(--color-grey-secondary);
      }
      .sort-button:hover{
        background-color: var(--color-grey-secondary);
      }
    }
    .cards {
      max-width: var(--space-sectionSmallMaxWidth);
      width: 100%;
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: 1fr; 
      gap: 24px 24px; 
      @include max-width(desktop) {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 24px 24px; 
      }
      @include max-width(laptop) {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        gap: 24px 24px;
      }
    }
  }
}