.whoami-section {
  gap: 96px;
  display: flex;
  justify-content: center;
  @include max-width(tablet) {
    gap: 64px;
  }
  .whoami-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    gap: 24px;
    text-align: center;
    @include max-width(laptop) {
      max-width: 700px;
    }
    @include max-width(tablet) {
      max-width: 100%;
      padding: 0 16px;
    }
    h3 {
      color: var(--color-secondary);
    }
    p {
      font-weight: 400;
      line-height: 26px;
      opacity: 0.8;
      @include max-width(laptop) {
        line-height: 20px;
      }
    }
  }
}